html,
body {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans Display", sans-serif;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--black);
  gap: 50px;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --white: #ffffff;
  --primary: #7653FC;
  --primary-hover: #4f20ff;
  --red: #FC836D;
  --gray-light: #EBEBEB;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-NS: "Noto Sans Display", sans-serif;
}
